* {
  box-sizing:border-box;
  &:before, &:after {
    box-sizing:border-box;
  }
}
html, body {
  position: relative;
  margin:0;
  padding:0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
input {
  font-size: $base-font-size;
  @include font-sans;
}
a {
  @include text-yellow;
  text-decoration: underline;
  &:hover {
    color: $color-yellow-hover;
  }
}
p {
  line-height: 1.4;
  margin: 0 0 1em 0;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: $color-black;
  background-color: $color-gray-10;
  border-radius: 4px;
}
img {
  width: 100%;
  max-width: 100%;
  border: 0;
}
li {
  margin-left: 30px;
  line-height: 1.4;
}
ul > li {
  list-style: disc outside;
}
ol > li {
  list-style: decimal outside;
}
ul, ol {
  margin-bottom: 25px;
}
.list-unstyled {
  @include unstyle-lists;
}
