@mixin solid-yellow-button {
  background-color: $color-yellow;
  color: $color-white;
  &:hover {
    background-color: darken($color-yellow, 5%);
  }
  &:active {
    background-color: darken($color-yellow, 10%);
  }
}

@mixin bordered-yellow-button {
  color: $color-yellow;
  background: transparent;
  border-color: $color-yellow;
  &:hover,
  &:active {
    color: darken($color-yellow, 8%);
    border-color: darken($color-yellow, 8%);
  }
}

@mixin solid-white-button {
  color: $color-black;
  background-color: $color-white;
  &:hover {
    background-color: $color-gray-10;
  }
  &:active {
    background-color: $color-gray-15;
  }
}

@mixin bordered-white-button {
  color: $color-white;
  background: transparent;
  border: 2px solid $color-white;
  &:hover,
  &:active {
    color: $color-gray-35;
    border-color: $color-gray-35;
  }
}

@mixin pagination-button {
  color: $color-yellow;
  font-size: 8px;
  letter-spacing: 4px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid $color-yellow;
  @include font-sans-bold;

  &:hover {
    border-color: $color-yellow-hover;
    color: $color-yellow-hover;
  }

  @include medium {
    font-size: $secondary-font-size;
    letter-spacing: 6px;
  }
}

.button {
  @include font-sans-bold;
  font-size: 13px;
  background-color: gray;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 24px;
  cursor: pointer;
  display:inline-block;
  border: 2px solid transparent;
  text-decoration: none;
  overflow: hidden;
  transition: all 60ms linear;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.button.size-md {
  font-size: $base-font-size;
  height: 48px;
  line-height: 48px;
  padding: 0 22px;
}

.button.size-lg {
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  padding: 0 35px;

  @include medium {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 50px;
  }
}

.button.primary-action {
  @include solid-yellow-button;
}

.button.secondary-action {
  @include bordered-yellow-button;
}

.button.pagination-button {
  @include pagination-button;
}

.button[disabled] {
  opacity: 0.65;
  cursor: default;
}

.button[disabled].primary-action {
  &:hover {
    background-color: $color-yellow;
  }
}

.button[disabled].secondary-action {
  &:hover {
    border-color: $color-yellow;
    color: $color-yellow;
  }
}
