/* Breakpoints */

$bp-medium: 750px;
$bp-large: 1000px;
$bp-xlarge: 1190px;
$bp-site-max-width: 1440px;
$site-max-width: 1400px;

/* Font Sizes */

$base-font-size: 16px;
$secondary-font-size: 14px;

/* Base */

$base-unit: 10px;